<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>


	<div id="content">
	<h1>Hey I'm Spongebob</h1>
	<p>Welcome to Krusty Krab What are you going to order?</p>
	<p>I live in a pineapple house. I also have a pet snail named Pingping.</p>
	<p>Wassup </a>.</p>
	</div>
</div>
